.buttongravar{
    margin-top: 40px;
    margin-left: 900px;
    		

}
.buttoncancelar{
    margin-top: 40px;
    margin-right: 80px;
}

.buttonnovo{
    margin-top: 40px;
    margin-left: 900px;
}
.buttonconsultar{
    margin-top: 40px;
    
    
}